#bottom {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: #555555;
    color: white;
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

div {
    flex: 100%;
}

p {
    margin: 0px;
}